<center>
<div class="carouselContainer">
	<div id="carousel-example-generic" class="carousel slide"
		data-ride="carousel">

		<ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0"
				class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"
				class=""></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"
				class=""></li>
			<li data-target="#carousel-example-generic" data-slide-to="3"
				class=""></li>
		</ol>
		<div class="carousel-inner">
			<div class="item active slider-img">
      			<img src="{{ asset('bundles/TeAyudo/images/teayudo-slide1.jpg') }}" alt="" data-src="holder.js/415x415/auto/#777:#555/text:First slide"/>
      			<h3 class="slider-img-caption">TeAyudo.org<br />Es una plataforma para dar una mano</h3>
			</div>
			<div class="item slider-img">
      			<img src="{{ asset('bundles/TeAyudo/images/teayudo-slide2.jpg') }}" alt="" data-src="holder.js/415x415/auto/#777:#555/text:First slide"/>
      			<h3 class="slider-img-caption">Creá o participá de Ciclos de Ayuda<br />junto a personas con ganas de colaborar</h3>
			</div>
			<div class="item slider-img">
      			<img src="{{ asset('bundles/TeAyudo/images/teayudo-slide3.jpg') }}" alt="" data-src="holder.js/415x415/auto/#777:#555/text:First slide"/>
      			<h3 class="slider-img-caption">Encontrá gente que se sume a tu causa<br />cerca de donde vivís</h3>
			</div>
			<div class="item slider-img">
      			<img src="{{ asset('bundles/TeAyudo/images/teayudo-slide4.png') }}" alt="" data-src="holder.js/415x415/auto/#777:#555/text:First slide"/>
      			<h3 class="slider-img-caption">Tu aporte es fundamental<br />para generar Conciencia</h3>
			</div>
		</div>
		<a class="left carousel-control" href="#carousel-example-generic"
			role="button" data-slide="prev"> <span
			class="glyphicon glyphicon-chevron-left"></span>
		</a> <a class="right carousel-control"
			href="#carousel-example-generic" role="button" data-slide="next"> <span
			class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div>
</div>
</center>