{% extends 'TeAyudoBundle:Default:base.html.twig' %} 

{% block rightMenu%} 
<div class="headHome">
	<h2 class="form-signin-heading">Bienvenido</h2>
	<h4>{{ username }}</h5>
</div>
<ul class="nav nav-pills mainMenu">
	 <li class="active"><a href="main">Inicio</a></li>
	 <li><a	href="myCycles">Mis Ciclos</a></li>
	 <li><a href="myAccount">Mi Cuenta</a>
	 </li>
</ul>
<span class="headHome"><a href="logout">Salir</a></span>
{% endblock %} 

{%block content %} 


{% endblock %}
